.wrapper {
  padding: 30px;
}
.calender_filters {
  text-align: center;
  padding: 15px 0;
}
.mat-form-field {
  margin-right: 10px;
}
.calender_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.calender_day{
    width: 200px;
    height: 200px;
    padding: 20px;
    background: rgba(221, 221, 221, 0.418);
    margin: 0px 0px 15px 15px;
    box-shadow: 1px 2px 4px grey;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.date{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f44336;
    color: white;
    width: 25px;
    border-radius: 50%;
    height: 25px;
}
.appointment_area{
    margin-top: 45px;
    height: 120px;
    overflow-y: auto;
}
.appointment_area::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.appointment_area::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.appointment_area::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(95, 95, 95, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(95, 95, 95, 0.3);
	background-color: #555;
}
.appointment_rows{
    border-radius: 4px;
    margin-bottom: 5px;
    border: none;
    background: #3f51b5;
    color: #fff;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}
