<div class="wrapper">
  <div class="calender_filters">
    <mat-form-field appearance="outline">
      <mat-label>Month</mat-label>
      <mat-select [(ngModel)]="selectMonth" (ngModelChange)="getMonth($event)">
        <mat-option *ngFor="let month of allmonths" [value]="month">{{
          month
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Calender contents starts here -->
  
  <div class="">
    <div class="calender_contents">
      <div class="calender_day" *ngFor="let day of calenderData.month.days">
        <div class="date">
          {{ day.days + 1 }}
        </div>
        <div class="appointment_area">
          <!-- appointment rows start -->
           <ng-template ngFor let-item [ngForOf]="activeAppointments">
               <div
               class="appointment_rows"
               (click)="showAppointMentDetails(item)"
               >
               <div>Appointment 1 at {{ item.time }}</div>
             </div>

           </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
